package conf

// Github application client id and secret key
const clientID = ""
const clientSecret = ""

// Linkedin application client id and secret key
const linkedinClientID = ""
const linkedinClientSecret = ""

// Twiiter application client id and secret key
const twitterConsumerKey = ""
const twitterConsumerSecret = ""
