{{ template "header2.html" . }}
<main>
<br><br>
<h5 class="container center"><u>LIST OF USERS</u></h5>
<br><br>
<div class="container center">
	<table class="highlight centered" style="width: 900px; border:3px solid gray; margin-left:auto;margin-right:auto;">
		<thead>
		  <tr>
		      <th>ID</th>
		      <th>Name</th>
		      <th>Email</th>
		  </tr>
		</thead>

		<tbody>
			{{ range $i,$u := .Users }}
			<tr>
			    <td><a href="/user/{{ $u.ID }}">{{ $u.ID }}</a></td>
			    <td>{{ $u.Name }}</td>
			    <td>{{ $u.Email }}</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
</div>
</main>     
{{ template "footer.html" . }}