{{ template "header2.html" . }}
<main>
<div class="container center">
	<br>
	<h5 class=""><u>Search User</u></h5>
	<br>
	<p class="teal-text center">{{ .Message }}</p><br>
	<form method="post" action="/user/search">
	    <div class="row" style="width: 500px;">
	        <div class="input-field col s12">
	        <i class="material-icons prefix">search</i>  
	            <input name="email" id="email" type="email" class="validate">
	            <label for="email">Enter User Email Id</label>
	        </div>
	    </div> 
	    <div class="card-action center ">
	        <input type="submit" class="btn purple darken-2" value="Search">
	    </div>
	</form>
	<br>
	{{ with .Details }}
	<table class="highlight centered" style="width: 900px; border:3px solid gray; margin-left:auto;margin-right:auto;">
		<thead>
		  <tr>
		      <th>ID</th>
		      <th>Name</th>
		      <th>Email</th>
		  </tr>
		</thead>

		<tbody>
			<tr>
			    <td><a href="/user/{{ .ID }}">{{ .ID }}</a></td>
			    <td>{{ .Name }}</td>
			    <td>{{ .Email }}</td>
			</tr>
		</tbody>
	</table>
	{{ end }}
</div>
     <br>
 </main>
{{ template "footer.html" . }}