{{ template "header2.html" . }}

<div class="container">
	<h3>Set New Password</h3>
	<br>
	<p class="teal-text">{{ .Flash }}</p>
	<form method="post" action="/user/set_password">
	    <div class="row">
	        <div class="input-field col s12">
	        <i class="material-icons prefix">search</i>  
	            <input name="password" id="password" type="password" class="validate">
	            <label for="password">Enter Current Password</label>
	        </div>
	    </div> 
	    <div class="row">
	        <div class="input-field col s12">
	        <i class="material-icons prefix">search</i>  
	            <input name="password2" id="password2" type="password" class="validate">
	            <label for="password2">Enter New Password</label>
	        </div>
	    </div> 
	    <div class="row">
	        <div class="input-field col s12">
	        <i class="material-icons prefix">search</i>  
	            <input name="password3" id="password3" type="password" class="validate">
	            <label for="password3">Re-Enter New Password</label>
	        </div>
	    </div> 
	    <div class="card-action center ">
	        <input type="submit" class="btn purple darken-2" value="Set">
	    </div>
	</form>
</div>
     <br>
{{ template "footer.html" . }}