{{ template "header2.html" . }}
<main>
	<br>
<div class="container center">
	<h5><u>Set New Password</u></h5>
	<br>
	<p class="teal-text">{{ .Flash }}</p>
	<br>
	<form method="post" action="/user/set_password">
		{{ if .Pass }}
	    <div class="row" style="width: 500px;">
	        <div class="input-field col s12">
	        <i class="material-icons prefix">search</i>  
	            <input name="password" id="password" type="password" class="validate">
	            <label for="password">Enter Current Password</label>
	        </div>
	    </div> 
	    {{ end }}
	    <div class="row" style="width: 500px;">
	        <div class="input-field col s12">
	        <i class="material-icons prefix">search</i>  
	            <input name="password2" id="password2" type="password" class="validate">
	            <label for="password2">Enter New Password</label>
	        </div>
	    </div> 
	    <div class="row" style="width: 500px;">
	        <div class="input-field col s12">
	        <i class="material-icons prefix">search</i>  
	            <input name="password3" id="password3" type="password" class="validate">
	            <label for="password3">Re-Enter New Password</label>
	        </div>
	    </div> 
	    <div class="card-action center ">
	        <input type="submit" class="btn purple darken-2" value="Save">
	    </div>
	</form>
</div>
     <br>
</main>
{{ template "footer.html" . }}